#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
  }
  
  
  
  button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
  
  }
  
  #calculator{
    background-color:black;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    margin: auto;
    height: fit-content;
    width: max-content;
    margin-top: 120px;
    
  }
  
  #display{
    background-color: rgb(15, 17, 18);
    width:500px;
    height: 90px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size:3.5rem;
    color: white;
    font-style: italic;
  
  }
  
  .operator{
    background-color: orange;
  }
  .operator:hover{
    background-color: rgb(222, 170, 76);
  }
  .operator:hover:active{
    background-color: rgb(190, 139, 44);
  }
  
  button:hover{
    background-color: hsl(0, 7%, 32%);
   
  
  }
  
  button:active{
    background-color: hsl(0, 0, 50%);
  
  }
  